<% include partials/header %>

    <div id="main-wrapper">
        <div class="container">

            <!-- Content -->
            <article class="box post">
                <h1>We create web application for ProjectSE because</h1>
                <p></p>
                <p>เนื่องจากในปัจจุบันคนทั่วไปใช้รถกันเป็นจำนวนมาก จึงเกิดเป็นปัญหาตามมานั่นคือ “การหาสถานที่จอดรถ” ยิ่งหากเป็นสถานที่ที่มีผู้ใช้บริการหนาแน่น
                เช่น ห้างสรรพสินค้า หรือ มหาวิทยาลัย ยิ่งลำบากในการจะหาที่จอดรถ ซึ่งสถานที่เหล่านี้มีลานจอดรถให้บริการแน่นอนอยู่แล้ว แต่เราจะรู้ได้อย่างไรว่าที่จอดรถนั้นมีที่ว่างเหลือหรือเต็มแล้ว
                สร้างปัญหาให้ผู้ใช้รถต้องขับรถวนหาที่จอด รถเป็นระยะเวลานาน จึงเป็นที่มาของการคิดค้นโปรแกรมช่วยในการดูว่าในลานจอดรถยังมีที่
                ว่างเหลืออยู่ หรือไม่ของเรา โปรแกรมนี้จะช่วยให้ผู้ให้บริการสถานที่จอดรถสามารถจัดสรรรถยนต์ ของผู้ที่มาใช้บริการ ทำให้ สามารถระบุได้ว่ามีรถยนต์มาใช้บริการกี่คัน
                และวางแผนรองรับรถยนต์ในอนาคตได้ ส่วนผู้ใช้รถยนต์ก็ สามารถดูได้ว่าที่จอดรถมีที่ว่างเหลือให้จอดหรือไม่ ทำให้ไม่ต้องเสียเวลาในการวนหาที่จอดรถยนต์ด้วย
                ตัวเอง นอกจากนี้ยังสามารถนำไปพัฒนาเพื่อใช้ร่วมกับโปรแกรมอื่นๆได้ในอน าคตอีกเช่นกัน</p>
        </div>
    </div>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.dropotron.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/skel-viewport.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>

    </body>

    </html>