<% include partials/header %>
<h1>blah</h1>
    <div class="container">

        <!-- Content -->
        <article class="box post">
            <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i> please sign up again with new username</h1>
            <p></p>
            <hr>
            <p>This username is already taken. Please choose new username</p>
            <a href="/register" class="button">Sign up again</a>
    </div>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.dropotron.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/skel-viewport.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>

    </body>

    </html>