<% include partials/header %>

    <div id="main-wrapper">
        <div class="container">

            <!-- Content -->
            <article class="box post">
                <h1>Contact Us</h1>
                <p></p>
                <p><strong>สถานที่ติดต่อ: </strong>เขต ปทุมวัน จังหวัด กรุงเทพมหานคร 10330 ประเทศไทย </p>
                <p>โทรศัพท์ 0-2218-2840</p></p>
        </div>
    </div>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.dropotron.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/skel-viewport.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>

    </body>

    </html>