<% include partials/header %>

    <!-- <h1 style="color:aliceblue">Login!</h1> -->
    <h1>blah</h1>
    <div class="container">
        <article class="box post">
            <h1 style="font-size: 30px">Login!</h1>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="username" required>
                <div></div>
                <input type="password" name="password" placeholder="password" required>
                <!-- <input type="submit" value="login"> -->
                <button>login</button>
                <a href="/register" class="button">Sign Up!</a>
            </form>
        </article>
    </div>

    <!-- Scripts -->

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.dropotron.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/skel-viewport.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>

</body>

</html>